body {
  background-color: #161616;
  font-family: 'Chivo', sans-serif; }

@media screen and (min-width: 720px) {
  .nav-link {
    font-size: 1.3rem; } }

.title-decoration {
  color: #f0c531;
  font-size: 1.5rem;
  rotate: 1.5rad; }

.p-margin {
  margin: 3rem 0; }

.my-navbar {
  background-color: #555554; }

.logo {
  width: 30%; }

.logo-img-slide-1 {
  width: 35%; }

.my-text-color {
  color: #f0c531; }

.slide-text-1 {
  position: absolute;
  right: 150px;
  bottom: 20%;
  top: 20%;
  text-align: right; }

.logo-contain-slide-s1 {
  margin: 5rem 0; }

.h-bg-s1 {
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center; }

.h-bg-s2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.h-text-s2 {
  width: 500px; }

.about-text {
  font-size: 1rem;
  text-align: justify;
  padding: 0 1rem; }
  @media screen and (min-width: 720px) {
    .about-text {
      font-size: 1.2rem;
      text-align: justify;
      padding: 0; } }

.about-img-section {
  padding: 0;
  margin-bottom: 0.4rem; }

.input-booking {
  background: none;
  border: 1px 0;
  border-color: #f0c531; }

@media screen and (min-width: 960px) {
  .booking-container {
    margin: 4rem 0; } }

@media screen and (min-width: 960px) {
  .booking-title-container {
    margin-bottom: 3rem; } }

@media screen and (min-width: 960px) {
  .booking-title {
    padding-bottom: 1rem; } }

.control-form, .control-form-left {
  margin: 1.5rem 0; }

.sumit-container {
  margin-top: 2rem; }

.sutmit-button {
  padding: 0 2.3rem; }

@media screen and (min-width: 960px) {
  .footer {
    padding: 3rem 0;
    min-height: 300px; } }

@media screen and (min-width: 960px) {
  .title-medium {
    font-size: 1.4rem; } }

@media screen and (min-width: 960px) {
  .p-medium {
    font-size: 1rem; } }

@media screen and (min-width: 960px) {
  .text-ofert {
    width: 500px; } }

@media screen and (min-width: 960px) {
  .ofert {
    margin: 2rem 0; } }

.title-info {
  font-size: 1.3rem; }
  @media screen and (min-width: 720px) {
    .title-info {
      font-size: 2rem; } }

@media screen and (min-width: 720px) {
  .info-text {
    font-size: 1.2rem; } }

.info-divice {
  min-height: 350px;
  height: 500px; }

.footer {
  background-color: #161616; }
