

.input-booking {
    background: none;
    border:1px 0;
    border-color: $my-primary;
   
}

.booking-container {
    @include laptop {
        margin:4rem 0;

    }
}

.booking-title-container {
    @include laptop {
        margin-bottom: 3rem;
    }
}

.booking-title {
    @include laptop {
        padding-bottom: 1rem;
    }
}


// column = input

.control-form, .control-form-left {
    margin: 1.5rem 0;
}


// submit 

.sumit-container {
    margin-top: 2rem;
}

.sutmit-button {
    padding: 0 2.3rem;
}
