.title-medium {
    @include laptop {
        font-size: 1.4rem;

    }
}

.p-medium {
    @include laptop{
        font-size: 1rem;

    }
}


.text-ofert {
    @include laptop {
        width: 500px;


    }
}


.ofert {
    @include laptop {
        margin: 2rem 0;
    }
}