/*footer section*/

footer
    .row
        .col-12.text-white.text-center
            h1 L&apos;Grand
            p Food of your own choise
        .col-8
            ul.nav.text-center
                li.nav-item
                    a.nav-link.active(href='#') About us
                li.nav-item
                    a.nav-link(href='#') Menu
                li.nav-item
                    a.nav-link(href='#') Booking
                li.nav-item
                    a.nav-link(href='#') Gallery
                li.nav-item
                    a.nav-link(href='#') Contact
                li.nav-item
                    a.nav-link(href='#') Blog
        .col-12.text-white.text-center
            i.fab.fa-facebook
            i.fab.fa-twitter
            i.fab.fa-instagram
            i.fab.fa-pinterest

